__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
env/
venv/
*.egg-info/
dist/
build/
.eggs/
*.egg
.mypy_cache/
.pytest_cache/
.ruff_cache/
*.log
.DS_Store

# 模型文件
models/**/*.pth.tar
models/**/*.bin
models/**/*.pt
models/**/*.onnx
models/**/.msc
models/**/._____temp/
